{% extends "../layouts/base.html" %}
{% block content %}
<h1>Inventory</h1>
{% for message in messages %}
    <p class="alert alert-success">{{ message }}</p>
{% endfor %}
<table class="table">
    <tr>
        <th>id.</th>
        <th>Item Name.</th>
        <th>Quantity</th>
        <th>Expiry Date</th>
    </tr>
    {% if inventory_items %}
    {% for item in inventory_items %}
    <tr>
        <td>{{ item.id }}</td>
        <td><a href="{% url "inventory:details_inventory" item.id %}">{{ item.drug_id }}</a></td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.expiry_date }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">No items found</td>
    </tr>
    {% endif %}
</table>
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% if request.user.profile.role == 2 %}
<a href="{% url 'inventory:create_inventory' %}" type="button" class="btn btn-success btn-floating" style="position: fixed; bottom: 10px; right: 10px;">
    + Add To Inventory
</a>
{% endif %}
{% endblock content %}