{% extends "../layouts/base.html" %}
{% block content %}
<h2>Edit Your Profile</h2>
<div class="col-md-6 ms-3">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Update User Details</h3>
    {{ user_form.as_p }}

    <h3>Update Profile Details</h3>
    {{ profile_form.as_p }}

    <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
    <a class="btn btn-danger my-2" href="{% url 'user:profile' %}">Cancel</a>
<div class="col-md-6">
{% endblock %}