{% extends "../layouts/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if form_login.errors %}
    <div class="error-summary">
        <ul>
            {% for field in form_login %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="jumbotron mt-4">
        <h1 class="pb-3 text-center">Login</h1>
        {{ login_form.as_p }}
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Login" />
    <div>
</form>
{% endblock content %}