{% extends "../layouts/base.html" %}
{% load static %}
{% block header %}
<script src="{% static 'js/alpine.min.js' %}" defer></script>
{% endblock header %}
{% load static %}
{% block content %}
{{errors}}
<h1>Dispense Order no {{ order }}</h1>
<div x-data="tableForm">
    <form method="POST">
        {% csrf_token %}
        <table  class="table">
            <thead>
                <th>Drug Name</th>
                <th>Quantity</th>
                <th>Inventory(Exp Date | Quantity)</th>
                <th>Public Price</th>
                <th>Quantity</th>
                <th></th>
            </thead>
            <tbody>
                {% for item in order.order_items.all %}
                <tr>
                    <td>{{item.drug.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <select class="form-control">
                            {% for item in item.inventory %}
                                <option value="item.id">{{ item.expiry_date }} | {{ item.id }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td></td>
                    <td><input type="number" min="1" class="form-control" required/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-success float-right" type="Submit">Dispense</button>
    </form>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('tableForm', () => ({
            
        }));
    });

</script>
{% endblock content %}